main{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

#download-cv{
    background-color: #2d2d2d;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: white;
    margin-top: 30px;
}

#download-cv a{
    text-decoration: none;
    color: white;
}

#intro{
    display: flex;
    flex-direction: column;
    font-size: 45px;
}

#intro-container{
    margin: 100px;
    margin-top: 150px;
}

#name{
    margin: 0px;
    color: yellow;
    font-size: 50px;
    font-weight: bold;
}

main img{
    height: 500px;
    width: 700px;
}

button{
    cursor: pointer;
}