#skills-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  /* border: 2px solid white; */
  /* width: 80%; */
}

#skills-container h2 {
  font-family: SF Pro Display;
}

#skills-btn-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 25px;
}

.skills-btn {
  border: none;
  border-radius: 4px;
  /* background-color: greenyellow; */
  padding: 10px;
  width: 10%;
  background: linear-gradient(90deg, yellow, red);
  transition: all 0.2s ease-in-out;
  background-size: 400%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.skills-btn:hover {
  box-shadow: 0 5px 15px rgb(255, 196, 0);
}

.icon {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px;
}

/* .icon img {
  height: 150px;
  width: 120px;
  border-radius: 15px;
} */

.figma {
  width: 6%;
  /* height: 20px; */
}
