#about-me-container{
    display: flex;
}

#about-me-container img{
    height: 400px;
    margin: 50px;
    margin-left: 100px;
    margin-top: 90px;
    border-radius: 20px;
}

#about-me{
    margin: 30px;
    margin-top: 45px;
}

#education-btn{
    border-radius: 4px;
    border: none;
    /* border: 2px solid orange; */
    padding: 10px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, yellow, red, orange);
    background-size: 400%;
    transition: all 0.2s ease-in-out;
}

#education-btn:hover{
  box-shadow: 0 5px 15px rgb(255, 196, 0);
}

h2{
    font-size: 40px;
}

#education{
    margin-top: 40px;
}

#education-desc{
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.desc{
    width: 25%;
    padding: 7px;
    border-left: 3px solid skyblue;
    font-family: 'Schibsted Grotesk', sans-serif;
}

text{
    font-size: 20px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
}
   
.present{
    font-size: 18px;
  }