body{
    color: white;
    font-size: 17px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    margin-right: 30px;
}

#nav-links li{
    margin: 30px;
    margin-top: 40px;
}

#logo{
    margin: 30px;
    margin-top: 40px;
}


#user-icon{
    height: 30px;
    margin-left: 30px;
}

#nav-links a{
    font-size: 18px;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    font-weight: lighter;
    color: white;
}