@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

.gradient-text {
  -webkit-text-fill-color: #0000;
  background: -webkit-linear-gradient(#3dfff5, #34ff82);
  -webkit-background-clip: text;
}

.heading {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(90deg, #6c6c6c, #fff);
  -webkit-background-clip: text;
}

.navbar-link {
  color: #ffffff90;
  font-weight: 200;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

@media only screen and (min-width: 640px) {
  .text-animation {
    font-size: 36px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .text-animation {
    font-size: 44px !important;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Starting position and reset position */
  }
  40% {
    transform: translateY(-20px); /* Bounce up */
  }
  60% {
    transform: translateY(-10px); /* Bounce down */
  }
}

.animate-bounce {
  animation: bounce 1.5s ease-in-out 3s infinite; /* Play bounce animation infinitely */
}

/*  */
.chat {
  position: relative;
  width: 100%;
  height: calc(100% - 15px);
  max-height: 500px;
  z-index: 10;
  overflow: hidden;
  background: transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
